<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turing.code.tenant.mapper.TenantInviteConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.turing.code.tenant.pojo.TenantInviteConfig" autoMapping="true">
        <id column="id" property="id"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, is_check, shop_id, tenant_id, status, gold_person, gold_team, partner_person, partner_team, super_partner_person, super_partner_team, gold_direct, gold_indirect, partner_direct, partner_indirect, super_partner_direct, super_partner_indirect, user_direct, user_indirect, create_time, update_time
    </sql>
    <select id="selectByMerchantId" resultType="com.turing.code.tenant.pojo.TenantInviteConfig">
        select
        <include refid="Base_Column_List"/>
        from tenant_invite_config
        where tenant_id = #{tenantId}
    </select>

</mapper>
