<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turing.code.tenant.mapper.TenantProMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.turing.code.tenant.pojo.TenantPro">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="tenant_id" jdbcType="BIGINT" property="tenantId"/>
        <result column="shop_id" jdbcType="BIGINT" property="shopId"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="cover" jdbcType="VARCHAR" property="cover"/>
        <result column="banner" jdbcType="VARCHAR" property="banner"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="original_price" jdbcType="DECIMAL" property="originalPrice"/>
        <result column="freight" jdbcType="DECIMAL" property="freight"/>
        <result column="video" jdbcType="VARCHAR" property="video"/>
        <result column="pv" jdbcType="INTEGER" property="pv"/>
        <result column="favor" jdbcType="INTEGER" property="favor"/>
        <result column="deal" jdbcType="INTEGER" property="deal"/>
        <result column="evaluation" jdbcType="INTEGER" property="evaluation"/>
        <result column="is_spec" jdbcType="INTEGER" property="isSpec"/>
        <result column="is_after_sell" jdbcType="INTEGER" property="isAfterSell"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="carriage" jdbcType="VARCHAR" property="carriage"/>
        <result column="district" jdbcType="VARCHAR" property="district"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="is_invite" jdbcType="INTEGER" property="isInvite"/>
        <result column="weight_sort" jdbcType="INTEGER" property="weightSort"/>
        <result column="good_score" jdbcType="INTEGER" property="goodScore"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="after_sell_ident" jdbcType="VARCHAR" property="afterSellIdent"/>
        <result column="index_recommend" jdbcType="INTEGER" property="indexRecommend"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.turing.code.tenant.pojo.TenantPro">
        <result column="description" jdbcType="LONGVARCHAR" property="description"/>
        <result column="details" jdbcType="LONGVARCHAR" property="details"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id, shop_id, category_id, name, cover, banner, price, original_price, freight, video, pv, favor, deal, evaluation,
        description, is_spec, is_after_sell, details, status, remark, carriage, district, city, province, is_invite, weight_sort, good_score,
        update_time, create_time, stock, after_sell_ident,index_recommend,vip_pro,gift_amount,gift_promote_leve,gift_vip_level
    </sql>
    <sql id="base_where">
        <if test="map.id != null">
            and id = #{map.id,jdbcType=BIGINT}
        </if>
        <if test="map.tenantId != null">
            and tenant_id = #{map.tenantId,jdbcType=BIGINT}
        </if>
        <if test="map.shopId != null">
            and shop_id = #{map.shopId,jdbcType=BIGINT}
        </if>
        <if test="map.categoryId != null">
            and category_id = #{map.categoryId,jdbcType=INTEGER}
        </if>
        <if test="map.name != null">
            and name = #{map.name,jdbcType=VARCHAR}
        </if>
        <if test="map.cover != null">
            and cover = #{map.cover,jdbcType=VARCHAR}
        </if>
        <if test="map.banner != null">
            and banner = #{map.banner,jdbcType=VARCHAR}
        </if>
        <if test="map.price != null">
            and price = #{map.price,jdbcType=DECIMAL}
        </if>
        <if test="map.originalPrice != null">
            and original_price = #{map.originalPrice,jdbcType=DECIMAL}
        </if>
        <if test="map.freight != null">
            and freight = #{map.freight,jdbcType=DECIMAL}
        </if>
        <if test="map.video != null">
            and video = #{map.video,jdbcType=VARCHAR}
        </if>
        <if test="map.pv != null">
            and pv = #{map.pv,jdbcType=INTEGER}
        </if>
        <if test="map.favor != null">
            and favor = #{map.favor,jdbcType=INTEGER}
        </if>
        <if test="map.deal != null">
            and deal = #{map.deal,jdbcType=INTEGER}
        </if>
        <if test="map.evaluation != null">
            and evaluation = #{map.evaluation,jdbcType=INTEGER}
        </if>
        <if test="map.isSpec != null">
            and is_spec = #{map.isSpec,jdbcType=INTEGER}
        </if>
        <if test="map.isAfterSell != null">
            and is_after_sell = #{map.isAfterSell,jdbcType=INTEGER}
        </if>
        <if test="map.status != null">
            and status = #{map.status,jdbcType=INTEGER}
        </if>
        <if test="map.remark != null">
            and remark = #{map.remark,jdbcType=VARCHAR}
        </if>
        <if test="map.carriage != null">
            and carriage = #{map.carriage,jdbcType=VARCHAR}
        </if>
        <if test="map.district != null">
            and district = #{map.district,jdbcType=VARCHAR}
        </if>
        <if test="map.city != null">
            and city = #{map.city,jdbcType=VARCHAR}
        </if>
        <if test="map.province != null">
            and province = #{map.province,jdbcType=VARCHAR}
        </if>
        <if test="map.isInvite != null">
            and is_invite = #{map.isInvite,jdbcType=INTEGER}
        </if>
        <if test="map.weightSort != null">
            and weight_sort = #{map.weightSort,jdbcType=INTEGER}
        </if>
        <if test="map.goodScore != null">
            and good_score = #{map.goodScore,jdbcType=INTEGER}
        </if>
        <if test="map.updateTime != null">
            and update_time = #{map.updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="map.createTime != null">
            and create_time = #{map.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="map.stock != null">
            and stock = #{map.stock,jdbcType=INTEGER}
        </if>
        <if test="map.afterSellIdent != null">
            and after_sell_ident = #{map.afterSellIdent,jdbcType=VARCHAR}
        </if>
        <if test="map.description != null">
            and description = #{map.description,jdbcType=LONGVARCHAR}
        </if>
        <if test="map.details != null">
            and details = #{map.details,jdbcType=LONGVARCHAR}
        </if>
        <if test="map.indexRecommend != null">
            and index_recommend = #{map.indexRecommend}
        </if>
    </sql>
    <select id="selectMerchantProInviteList" resultType="com.turing.code.user.pojo.vo.MerchantProInvite">
        SELECT
        id,tenant_id,shop_id,category_id,name,cover,price,original_price,status,is_invite,create_time,is_spec
        FROM
        tenant_pro
        <where>
            <include refid="base_where"/>

            <if test="map.nameLike != null">
                and name like concat('%',#{map.nameLike},'%')
            </if>
        </where>
        <if test="map.orderBy != null">
            order by #{map.orderBy}
        </if>      
    </select>
    <select id="selectByMapEx" resultType="com.turing.code.tenant.pojo.TenantPro">
        select
        <choose>
            <when test="map.fields != null">
                #{map.fields}
            </when>
            <otherwise>
                <include refid="Base_Column_List"/>
            </otherwise>
        </choose>
        from tenant_pro
        <where>
            <include refid="base_where"/>
            <if test="map.vipPro != null">
                and vip_pro = #{map.vipPro}
            </if>
            <if test="map.startTime != null">
                and create_time &gt;= #{map.startTime}
            </if>
            <if test="map.endTime != null">
                and create_time &lt;= #{map.endTime}
            </if>
            <if test="map.freightGt != null">
                and freight &gt; #{map.freightGt}
            </if>
            <if test="map.search != null and map.search != ''">
                and name like concat('%',#{map.search,jdbcType=VARCHAR},'%')
            </if>
            <if test="map.carriageLike != null and map.carriageLike != ''">
                and carriage like concat('%',#{map.carriageLike},'%')
            </if>

            <if test="map.highScore != null">
                and weight_sort &gt;= #{map.highScore}
            </if>
            <if test="map.lowScore != null">
                and weight_sort &lt; #{map.lowScore}
            </if>
            <if test="map.ids != null and map.ids.size() > 0">
                <foreach collection="ids" item="item" separator="," open="and id not in (" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="map.shopIds != null and map.shopIds.size() > 0">
                <foreach collection="shopIds" item="item" separator="," open="and shop_id in (" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        <if test="map.orderBy != null">
            order by create_time desc
        </if>        
    </select>
    <select id="highPriceSku" resultType="java.math.BigDecimal">
        SELECT
        tpk.cur_price
        FROM
        tenant_pro tp
        LEFT JOIN tenant_pro_sku tpk ON tp.id = tpk.pro_id
        WHERE tp.id=#{id}
        ORDER BY
        tpk.cur_price DESC
        LIMIT 1
    </select>


</mapper>
