<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turing.code.tenant.mapper.TenantInfoFlowingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.turing.code.tenant.pojo.TenantInfoFlowing" autoMapping="true">
        <id column="id" property="id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id, amount, order_id, type, descr, remark, status, create_time
    </sql>
    <select id="selectVoByMap" resultType="com.turing.code.tenant.pojo.vo.UserRoyalFlowProVO">
        SELECT
        f.id,f.tenant_id,f.order_id,f.sec_amount,f.type,f.create_time,f.order_amount,u.nick,u.avatar,m.grade,
        (CASE
        m.grade
        WHEN 0 THEN
        mc.user_direct
        WHEN 1 THEN
        mc.gold_direct
        WHEN 2 THEN
        mc.partner_direct
        WHEN 3 THEN
        mc.super_partner_direct
        END) power,
        (CASE
        m.grade
        WHEN 0 THEN
        mc.user_indirect
        WHEN 1 THEN
        mc.gold_indirect
        WHEN 2 THEN
        mc.partner_indirect
        WHEN 3 THEN
        mc.super_partner_indirect
        END) in_power,
        (CASE
        m.grade
        WHEN 0 THEN
        mc.gold_team
        WHEN 1 THEN
        mc.partner_team
        WHEN 2 THEN
        mc.super_partner_team
        WHEN 3 THEN
        NULL
        END) up_grade_team,
        (CASE
        m.grade
        WHEN 0 THEN
        mc.gold_person
        WHEN 1 THEN
        mc.partner_person
        WHEN 2 THEN
        mc.super_partner_person
        WHEN 3 THEN
        NULL
        END) up_grade_person
        FROM
        user_royal_flow_pro AS f
        LEFT JOIN user_info AS u ON u.id = f.agent_id
        LEFT JOIN tenant_invite AS m ON m.user_id = f.agent_id and m.tenant_id = f.tenant_id
        LEFT JOIN tenant_invite_config mc ON mc.tenant_id = f.tenant_id
        WHERE f.status = 2
        <if test="map.tenantId != null">
            and m.tenant_id = #{map.tenantId}
        </if>
        <if test="map.isInside != null">
            and m.is_inside = #{map.isInside}
        </if>
        <if test="map.type != null">
            and f.type = #{map.type}
        </if>
        <if test="map.mobile != null">
            and u.mobile = #{map.mobile}
        </if>
        <if test="map.orderId != null">
            and f.order_id = #{map.orderId}
        </if>
        <if test="map.realNameLike != null">
            and m.real_name like concat('%',#{map.realNameLike},'%')
        </if>
        <if test="map.nickLike != null">
            and u.nick like concat('%',#{map.nickLike},'%')
        </if>
        <if test="map.startTime != null">
            and f.create_time &gt;= #{map.startTime}
        </if>
        <if test="map.endTime != null">
            and f.create_time &lt;= #{map.endTime}
        </if>
        order by f.create_time desc
    </select>

</mapper>
