<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turing.code.tenant.mapper.TenantMallSetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.turing.code.tenant.pojo.TenantMallSet" autoMapping="true">
        <id column="id" property="id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, status, remark, create_time, update_time, test_time, version, tenant_id, after_sale_day, unit, allow_withdrawal, vip_sales, pay_type
    </sql>

</mapper>
