<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turing.code.tenant.mapper.TenantProSkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.turing.code.tenant.pojo.TenantProSku" autoMapping="true">
        <id column="id" property="id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, group_id, spike_id, pro_id, spec, type, remark, status, stock, cover, rio_price, cur_price, firm_price, create_time, update_time
    </sql>
    <insert id="insertList">
        insert into tenant_pro_sku (pro_id, spec, remark,
        stock, cover,
        rio_price, cur_price, firm_price,`type`)
        <foreach collection="proSkus" open="values" separator="," item="item">
            (#{item.proId,jdbcType=BIGINT}, #{item.spec,jdbcType=VARCHAR}, #{item.remark,jdbcType=VARCHAR},
            #{item.stock,jdbcType=INTEGER}, #{item.cover,jdbcType=VARCHAR},
            #{item.rioPrice,jdbcType=DECIMAL}, #{item.curPrice,jdbcType=DECIMAL},
            #{item.firmPrice,jdbcType=DECIMAL},#{item.type,jdbcType=INTEGER})
        </foreach>
    </insert>
    <delete id="deleteByProIdAndType">
    delete from tenant_pro_sku
    where pro_id = #{proId,jdbcType=BIGINT} and type = #{type,jdbcType=INTEGER}
    </delete>

</mapper>
