<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turing.code.tenant.mapper.TenantProSpecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.turing.code.tenant.pojo.TenantProSpec" autoMapping="true">
        <id column="id" property="id"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, name, remark, type, status, create_time, pro_id, parent_name
    </sql>
    <delete id="deleteByProIdAndStatus">
       delete from tenant_pro_spec
       where pro_id = #{id,jdbcType=BIGINT} and `type` = #{type,jdbcType=INTEGER}
    </delete>

</mapper>
