<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turing.code.admin.mapper.AdFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.turing.code.admin.pojo.AdFlow" autoMapping="true">
        <id column="id" property="id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, money, status, order_type, order_id, remark, create_time
    </sql>
    <select id="selectAdFlow" resultType="com.turing.code.admin.pojo.vo.AdFlowVO">

            (SELECT
            id,money,origin as remark,create_time ,'客盈' as name, 3 as type, order_money as orderMoney, order_id, type as status
            FROM ad_flow_profit
            where type in (1,3)
            and origin_type in (1,3,7,8,9,31,32,33,34,35,36,37)
            <if test="map.startTime != null">
                and create_time &gt;= #{map.startTime}
            </if>
            <if test="map.endTime != null">
                and create_time &lt;= #{map.endTime}
            </if>
            <if test="map.orderId != null">
                and order_id = #{map.orderId}
            </if>
            <if test="map.status != null">
                and type = #{map.status}
            </if>
            )
        ORDER BY create_time desc
    </select>

</mapper>
