<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leepsmart.code.admin.mapper.AdProfitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.leepsmart.code.admin.pojo.AdProfit" autoMapping="true">
        <id column="id" property="id"/>
    </resultMap>

    <!-- 获取最近多少天范围内的数据 -->
    <select id="selectSumByDay" parameterType="Integer" resultType="java.math.BigDecimal">
        select COALESCE(SUM(money), 0)
        from ad_profit
        <if test="day != null">
            where DATEDIFF(NOW(),create_time) &lt;= #{day, jdbcType=INTEGER}
        </if>
    </select>

    <!-- 获取指定日期范围内的收益总和 -->
    <select id="selectSumMoneyByDate" parameterType="Map" resultType="java.math.BigDecimal">
        select
        COALESCE(SUM(money), 0)
        from ad_profit
        <where>
            <if test="startTime != null">
                and create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
        </where>
    </select>

    <sql id="dateWhere">
        <if test="startDate != null">
            and date_format(create_time, '%Y-%m-%d') &gt;= #{startDate}
        </if>
        <if test="endDate != null">
            and date_format(create_time, '%Y-%m-%d') &lt;= #{endDate}
        </if>
    </sql>

    <!-- 统计 当前周 当前月 当前年 的收益额 -->
    <select id="selectCountByDate" parameterType="Map" resultType="Map">
        <if test="dateType == 'week'">
            select WEEKDAY(create_time) as 'date', count(1) as count
            from ad_profit
            <where>
                <include refid="dateWhere"/>
            </where>
            GROUP BY WEEKDAY(create_time)
        </if>
        <if test="dateType == 'month'">
            select DAY(create_time) as 'date', count(1) as count
            from ad_profit
            <where>
                <include refid="dateWhere"/>
            </where>
            GROUP BY DAY(create_time)
        </if>
        <if test="dateType == 'year'">
            select MONTH(create_time) as 'date', count(1) as count
            from ad_profit
            <where>
                <include refid="dateWhere"/>
            </where>
            GROUP BY MONTH(create_time)
        </if>
        <if test="dateType == 'day'">
            select date_format(create_time, '%Y-%m-%d') as 'date', count(1) as count
            from ad_profit
            <where>
                <include refid="dateWhere"/>
            </where>
            GROUP BY date_format(create_time, '%Y-%m-%d')
        </if>
    </select>
</mapper>
