<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turing.code.user.mapper.UserRoyalFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.turing.code.user.pojo.UserRoyalFlow" autoMapping="true">
        <id column="id" property="id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, audit_id, user_id, status, update_time, create_time, royal, amount, order_amount, order_id, push_type, type, remark, source_type, city_code, source_id
    </sql>
    <sql id="base_where">
        <if test="id != null">
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="auditId != null">
            and audit_id = #{auditId,jdbcType=BIGINT}
        </if>
        <if test="userId != null">
            and user_id = #{userId,jdbcType=BIGINT}
        </if>
        <if test="status != null">
            and status = #{status,jdbcType=INTEGER}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="royal != null">
            and royal = #{royal,jdbcType=DECIMAL}
        </if>
        <if test="amount != null">
            and amount = #{amount,jdbcType=DECIMAL}
        </if>
        <if test="orderAmount != null">
            and order_amount = #{orderAmount,jdbcType=DECIMAL}
        </if>
        <if test="orderId != null">
            and order_id = #{orderId,jdbcType=BIGINT}
        </if>
        <if test="pushType != null">
            and push_type = #{pushType,jdbcType=INTEGER}
        </if>
        <if test="type != null">
            and type = #{type,jdbcType=INTEGER}
        </if>
        <if test="remark != null">
            and remark = #{remark,jdbcType=VARCHAR}
        </if>
        <if test="sourceType != null">
            and source_type = #{sourceType,jdbcType=INTEGER}
        </if>
        <if test="cityCode != null">
            and city_code = #{cityCode,jdbcType=INTEGER}
        </if>
        <if test="sourceId != null">
            and source_id = #{sourceId,jdbcType=BIGINT}
        </if>
    </sql>
    <select id="selectCountSelective" resultType="java.lang.Integer">
        select
        count(1)
        from user_royal_flow
        <where>
            <include refid="base_where" />
        </where>
    </select>
    <select id="selectSumMoneyByUserId" resultType="java.math.BigDecimal">
        select
        IFNULL(sum(
        ${sumMoney}
        ),0)
        from user_royal_flow_pro
        <where>
            <include refid="base_where" />
            <if test="day != null">
                and DATEDIFF(NOW(),create_time) &lt;= #{day, jdbcType=INTEGER}
            </if>
            <if test="statusList != null">
                <foreach collection="statusList" item="item" separator="," open="and status in (" close=")">
                    #{item, jdbcType=INTEGER}
                </foreach>
            </if>
        </where>
    </select>
    <select id="selectMap" resultType="java.util.Map">
        (select
        uf.id,uf.user_id as usId,ui.name as name,uf.status,uf.create_time as createTime,uf.update_time as updateTime,
        uf.amount,uf.push_type as pushType,uf.type,uf.remark,uf.royal,uf.source_type as sourceType
        FROM
        user_royal_flow uf join user_info ui on uf.user_id = ui.id
        <where>
            <if test="map.usId != null">
                and uf.user_id = #{map.usId}
            </if>
            <if test="map.type != null">
                and uf.push_type = #{map.type}
            </if>
        </where>)
        union all
        (SELECT
        r.id,r.user_id as usId,u.nick as name,r.status,r.create_time as createTime,r.update_time as updateTime,r.sec_amount as amount,
        r.type as pushType, 2 as type, CONCAT(u.nick,'下单',IF(r.type = 1,'直推','间推'),'佣金') as remark,null as royal,4 as sourceType
        FROM
        user_royal_flow_pro AS r
        INNER JOIN
        user_info AS u
        ON r.user_id = u.id
        where r.status = 2
        <if test="map.usId != null">
            and r.agent_id = #{map.usId}
        </if>
        <if test="map.type != null">
            and r.type = #{map.type}
        </if>
        )
        <if test="map.orderBy != null">
            order by ${map.orderBy}
        </if>
    </select>
</mapper>
